/* Write your CSS here! */
* {
    /* Removes any default margin or padding assigned to page, so that new ones can be set */
    margin: 0;
    padding: 0;
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('./Images/1.jpg');

    /* rgba - alpha defines opacity; accepts values between 0 to 1 */

    /* Set a specific height */
    height: 65%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: end;                                                         /* Currently not in use */
    position: absolute;
    top: 90%;
    left: 80%;
    right: 0%;
    transform: translate(-50%, -50%);
    color: white;
}

body,
html {
    height: 100%;
    width: 100%;
    /*max-width: 1024px;                                          Messing the display of the webpage, so not in use */
    margin: 0 auto;

}

body {
    /* element selector */
    margin: 8px;
    /* required by Assignment */
    display: block;
    /* required by Assignment */
    background-color: white;
    font-family: cursive;
    font-size: 17px;
    color: darkslateblue;
    text-align: center;

    /* width: 100px;
    max-width: 1024px;*/
}


header,
main,
footer,
section,
div {
    background-color: #ddd;
    padding: 30px;
}

h1,
h2,
h3,
h4 {
    background-color: rgb(247, 247, 251);
    padding: 30px;
    text-align: center;
    color: coral;
    max-width: auto;
}

p {
    padding: 5px;
    position: relative;
}

.responsive {
    /* makes images responsive */
    /*    width: 100%;*/
    max-width: 100%;
    height: auto;
}


#mainHeading {
    /* required by Assignment; also is an #id, so fulfils condition of #id */
    color: red;

}

.funParagraph {
    /* required by Assignment */
    color: green;
    text-align: center;
}

.center {
    /* class selector */
    text-align: center;
}

.right {
    /* class selector for hyperlink to 'Top'  */
    text-align: right;
}

.alignLeft {
    /* id selector - required */
    text-align: left;
}

nav ul {
    text-align: right;
    padding: 0;

}

nav ul li {
    margin-right: 15px;
    display: inline-block;
    font-size: 15px;
}

nav {
    background-color: #ddd;
}

.leftPadding{
    padding-left: 7%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 30px;
    padding: 10px;
  }
  
  .grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 17px;
  }

  .recipePadding{
        padding-left: 5%;
        padding-right: 5%;
  }

  .itemPadding{
    padding-left: 20%;
    padding-right: 20%;
  }

  .imgCredit{
    font-size: 15px;;
  }